/* 重置浏览器默认样式 */
:root {
  /* Brand Color */
  --el-color-primary: #409eff;
  --el-color-primary-light-3: rgb(121, 187, 255);
  --el-color-primary-light-5: rgb(160, 207, 255);
  --el-color-primary-light-7: rgb(198, 226, 255);
  --el-color-primary-light-8: rgb(217, 236, 255);
  --el-color-primary-light-9: rgb(236, 245, 255);
  --el-color-primary-dark-2: rgb(51, 126, 204);

  /* Text Color */
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;

  /* Border Color */
  --el-border-color-darker: #cdd0d6;
  --el-border-color-dark: #d4d7de;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;

  /* Fill Color */
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-blank: #ffffff;

  /* Background Color */
  --el-bg-color-page: #f2f3f5;
  --el-bg-color: #ffffff;
  --el-bg-color-overlay: #ffffff;

  /* Basic */
  --el-color-black: #000000;
  --el-color-white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止 body 滚动 */
}

#app {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
